$background-color: #faf8ef;

$text-color: #776e65;
$text-secondary-color: #eee4da;

$button-color: #8f7a66;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $text-color;
    background-color: $background-color;
    overflow-y: scroll !important;
}