* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #fff;
}

.main {
    height: 100%;
    // width: 100vw;
    background-color: #393053;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: 14rem;
    transition: 1s ease-in;

}

.row {
    display: flex;
    justify-content: center;
    transition: 1s ease-in;

}

.game-block {
    width: 22.4rem;
    height: 22.4rem;
    text-align: center;
    transition: 1s ease-in;
}