.score-cont {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex: 0 0 50%;
    justify-content: flex-end;
    height: 16.1rem;

    @include respond (30.95em) {
        margin-top: 2rem;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }

    @include respond (25.875em) {
        flex-wrap: wrap;
    }

    &__current-score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.2;
        font-size: 2.5rem;
        color: #fff;
        background-color: #bbada0;
        border-radius: .4rem;
        padding: 0 1rem;
        margin-right: .75rem;
        max-height: 6.5rem;
        min-width: 9rem;

        @include respond (30.95em) {
            margin-top: auto;
            min-height: 6.5rem;
        }

        @include respond (25.875em) {
            flex: .5;
            margin-right: 2rem;
        }
    }

    &__score-title {
        font-size: 1.6rem;
        color: $text-secondary-color;
        font-weight: 800;
    }

    &__score-text {
        font-weight: 600;
    }

    &__best-score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.2;
        font-size: 2.5rem;
        color: #fff;
        background-color: #bbada0;
        border-radius: .4rem;
        padding: 0 1rem;
        max-height: 6.5rem;
        min-width: 9rem;

        @include respond (25.875em) {
            flex: .5;
        }
    }

    &__new-game-button {
        background-color: $button-color;
        font-weight: bold;
        font-size: 2rem;
        color: #fff;
        outline: none;
        border: none;
        padding: 1rem 2rem;
        border-radius: .4rem;
        margin-top: auto;
        cursor: pointer;
        max-height: 4.5rem;

        @include respond (30.95em) {
            margin-bottom: auto;
            margin-left: auto;
        }

        @include respond (25.875em) {
            flex: 0 0 100%;
            min-width: 14.3rem;
            margin-top: 2rem;
            margin-left: 0;
        }

    }
}

.info-cont {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    flex: 0 0 50%;

    @include respond (30.95em) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    @include respond (25.875em) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        line-height: 1.3;
        color: $text-color;
        font-size: 8rem;
        font-weight: 700;
        margin-right: auto;

        @include respond (30.95em) {
            margin-right: 4rem;
        }

        @include respond (25.875em) {
            font-size: 11rem;
            margin-right: 0;
        }
    }

    &__text {
        color: $text-color;
        font-weight: 500;
        margin-right: auto;

        @include respond (30.95em) {
            margin-top: auto;
        }

        @include respond (25.875em) {
            margin-right: 0;
            font-size: 2.2rem;
        }
  
    }

    &__text-bold {
        font-weight: bold;
    }

    &__rules-link {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;

        &:link,
        &:visited {
            color: $text-color;
        }
    }
}

.game-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;    
    font-size: 2rem;
    width: 52rem;
    height: 52rem;
    background-color: #bbada0;
    padding: .5rem;
    border-radius: .75rem;
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    touch-action: none;

    @include respond(35em) {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
    }
}

.row {
    position: relative;
    flex: 0 0 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 1.5rem;
    z-index: 5;
    background-color: transparent;
    border-radius: .3rem;

    & > div {
        background-color: #cdc1b4;
        border-radius: .3rem;
    }
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 228, 218, 0.73);

    &__title {
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    &__button {
        background-color: $button-color;
        font-weight: bold;
        font-size: 2rem;
        color: #fff;
        outline: none;
        border: none;
        padding: 1rem 2rem;
        border-radius: .4rem;
        cursor: pointer;
        max-height: 4.5rem;
    }
}

.game-block {
    position: relative;
    z-index: 10;
    flex: 0 0 25%;
    height: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 5.5rem;

    @include respond(35em) {
        font-size: 9.6vw;
    }
}

.rules-section {
    font-size: 1.8rem;
    margin-bottom: 2rem;

    &__text-bold {
        font-weight: 600;

        &:link,
        &:visited {
            color: $text-color;
        }
    }

}

.info-section {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;

    &__text-bold {
        font-weight: 600;
    }
}

.about-section {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10rem;

    &__text-bold {
        font-weight: 600;

        &:link,
        &:visited {
            color: $text-color;
        }
    }
}

.page-break {
    width: 100%;
    height: 1px;
    background-color: $text-color;
    margin-bottom: 2rem;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}