.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 56rem;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin: 4rem 2rem 5rem 2rem;

    @include respond (30.95em) {
        flex-direction: column;
    }
}

.game {
    margin: 0 2rem 0 2rem;
}

.game-info {
    margin: 0 2rem 0 2rem;
}
